---
import { Image } from 'astro:assets'
import GitHub from '@/assets/GitBrand.astro'
import Link from '@/assets/Link.astro'
import Pill from './Pill.astro'
import { PROJECTS } from '@/lib/projects';
---

<div class="flex flex-col gap-16 md:gap-20">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }, index) => (
      <article
        class={`flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0 w-ful ${index % 2 !== 0 ? 'md:flex-row-reverse' : ''}`}
      >
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <Image
              src={image}
              alt={`Screenshot of ${title}`}
              width={800}
              class="object-cover object-top w-full h-full transition duration-500 md:scale-110 md:group-hover:scale-105"
              decoding="async"
              loading="lazy"
            />
          </div>
        </div>

        <div class="w-full md:w-1/2">
          <h3 class="text-2xl font-bold text-gray-100">{title}</h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-2 flex-wrap">
              {tags.map((tag) => (
                <li>
                  <span class={`flex items-center gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}>
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-400 text-pretty">{description}</div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {link && (
                <Pill href={link}>
                  <Link class="size-5" />
                  Preview
                </Pill>
              )}
              {github && (
                <Pill href={github}>
                  <GitHub class="size-5" />
                  Código
                </Pill>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
